<div id="stock-lookup">
  <h3 style="text-align:center ">Search for Stocks</h3>
  <%= form_tag get_stocks_path, method: :get, id: 'stock-lookup-form' do |f| %>
  <div class="form-group row no-padding text-center col-md-12">
    <div class="col-md-10">
      <%= text_field_tag :stock, params[:stock], placeholder: 'Stock Ticker Symbol', autofocus: true, class: 'form-control search-box input-lg' %>
    </div>
    <div class="col-md-2">
      <%= submit_tag 'Search', class: "btn btn-lg btn-warning" %>
    </div>
  </div>
  <% end %>
  <%= render 'common/spinner'%>
    <% if @tracker %>
      <div id="results" class="well">
        <strong>Price: </strong><%= @tracker.last_price %>
        <strong>Symbol: </strong><%= @tracker.ticker %>
        <strong>Name: </strong><%= @tracker.name %>
      </div>
    <% end %>
    <div id="error-results"></div>
</div>
