<div id="stock-lookup">
  <h3 style="text-align:center ">Search for Stocks</h3>
  <%= form_tag get_stocks_path, method: :get, id: 'stock-lookup-form' do |f| %>
  <div class="form-group row no-padding text-center col-md-12">
    <div class="col-md-10">
      <%= text_field_tag :stock, params[:stock], placeholder: 'Stock Ticker Symbol', autofocus: true, class: 'form-control search-box input-lg' %>
    </div>
    <div class="col-md-2">
      <%= submit_tag 'Search', class: "btn btn-lg btn-warning" %>
    </div>
  </div>
  <% end %>
  <%= render 'common/spinner'%>
    <% if @tracker %>
      <div id="results" class="well">
        <strong>Price: </strong><%= @tracker.last_price %>
        <strong>Symbol: </strong><%= @tracker.ticker %>
        <strong>Name: </strong><%= @tracker.name %>
        <% if current_user.can_add?(@tracker.ticker)%>
          <%= link_to "Add Stock", create_stock_path(ticker: @tracker.ticker, name: @tracker.name, last_price: @tracker.last_price), class: "btn btn-success" %>
        <% else %>
          Stock Already added!
        <% end %>
      </div>
    <% end %>
    <div id="error-results"></div>
</div>


<div class="container-fluid" style="padding-top: 115px;">
  <% current_user.stocks.each do |stocks| %>
    <div id="already-added" class="row well">
      <div class="col-md-12">
        <strong>Price: </strong><%= stocks.last_price %>
        <strong>Symbol: </strong><%= stocks.ticker %>
        <strong>Name: </strong><%= stocks.name %>
        <%= link_to "Remove Stock", stocks, method: :delete, class: "btn btn-danger", id: "delete-stock" %>
      </div>
    </div>
  <% end %>
</div>
